/* Add this to your CSS */
*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media print {
  body {
    background: white;
    margin: 0;
    padding: 0;
  }
  
  #pdf-export-content {
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}